body {
    background-color: #f4f6f7;
    /* background-color: #ffffff; */
   
}

.header {
    height: 50px;
    padding-top:0.5rem;
    /* background: linear-gradient(
        268.22deg,
        #30c723 0%,
        #7ffb8c 0.01%,
        #10c800 100.66%
    ); */
    background: #ffffff;
    /* box-shadow: 0px 10px 20px #5bea5e; */
    box-shadow: 0px 10px 20px #5bea5e;
    /* border-radius: 10px; */
}
.login {
    /* position: absolute; */
    width: 813px;
    height: 412px;
    left: 12rem;
    /* top: 107px; */
    margin-top: 8rem;
    
    background: #ffffff;
    box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.25);
}
h5 {
    /* color: white; */
    color: #5bea5e;
    font-size: 20px;
}
p {
    font-weight: bold;
    font-size: 33px;
}
#LPG {
    color: #34bc3d;
}
#buka{
    color: #c0c0c0f1;
    font-size: 15px;
    text-align: center;
    margin-top: 1rem;
    font-weight:normal;
}
#login {
    /* margin-left: 25px; */
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    /* color: #807d7d; */
    color: #34bc3d;
   
}
.logo {
    width: 407px;
    text-align: center;
    
    height: 412px;
    background: linear-gradient(
        180deg,
        #ffffff 0%,
        #7ffb8c 0.05%,
        #10c800 100%
        
    );
}
label {
    color: #0caf16;
}
.btn {
    background: linear-gradient(
        268.22deg,
        #30c723 0%,
        #7ffb8c 0.01%,
        #10c800 100.66%
    );
    font-size: 20px;
    color: white;
    /* box-shadow: 0px 10px 20px #5bea5e; */
    border-radius: 10px;
}
.btn:hover {
    color: #807d7d;
}
/* .lingkaran {
    width: 334px;
    height: 287px;
    left: 715px;
    top: 169px;
    border-radius: 50%;
    background: rgba(68, 253, 84, 0.27);
} */
