body {
    background-color: #c0c0c0;
}

.header {
    height: 50px;
    background: linear-gradient(
        268.22deg,
        #30c723 0%,
        #7ffb8c 0.01%,
        #10c800 100.66%
    );
    box-shadow: 0px 10px 20px #5bea5e;
    border-radius: 10px;
}
.container-login {
    position: absolute;
    width: 813px;
    height: 412px;
    left: 272px;
    top: 107px;

    background: #ffffff;
    box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.25);
}
h5 {
    color: white;
    font-size: 25px;
}
p {
    font-weight: bold;
    font-size: 33px;
}
#LPG {
    color: #34bc3d;
}
#login {
    margin-left: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #807d7d;
}
.logo {
    width: 407px;
    height: 412px;
    background: linear-gradient(
        180deg,
        #30c723 0%,
        #7ffb8c 0.01%,
        #10c800 100%
    );
}
label {
    color: #0caf16;
}
button {
    background: linear-gradient(
        268.22deg,
        #30c723 0%,
        #7ffb8c 0.01%,
        #10c800 100.66%
    );
    box-shadow: 0px 10px 20px #5bea5e;
    border-radius: 10px;
}
/* .lingkaran {
    width: 334px;
    height: 287px;
    left: 715px;
    top: 169px;
    border-radius: 50%;
    background: rgba(68, 253, 84, 0.27);
} */
